/* Footer.css */
  
  .footer {
    margin-top: 20vh;
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  
  .footer p {
    font-size: 14px;
    color: #666;
  }
  